* {
  padding: 0;
  margin: 0;
}
body {
  width: 40rem;
  height: 20px;
  margin: 24px auto;
}
.flex-img {
  padding: 32px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.cont {
  border: 5px solid #111;
  border-radius: 24px;
}
.heading {
  font-family: sans-serif;
  font-weight: 600px;
  font-size: 3.2rem;
  padding-left: 32px;
}
.des {
  padding-left: 32px;
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 24px;
}
.btn-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  margin: 24px 0px;
  text-decoration: none;

  font-size: 32px;
  padding: 12px 24px;
  border: 2px solid #111;
  border-radius: 24px;
  transition: all 0.5s;
}
.btn:hover {
  background-color: rgb(251, 112, 112);
  color: blanchedalmond;
}
